{% extends 'base.html' %}

{% load static %}

{% block xyz %}
  <!-- Team start -->
        <div class="row">
            <!-- team member start -->
            <div class="row py-5 bg-color3 text-light ">
                <div class="col-sm-10 mx-auto">
                    <div class="row">
                        <p class="fs-3 text-light">OUR <b class="text-light">TEAM</b></p>
                        <hr class="w-25">
                    </div>
                    <div class="row t">
                        <!-- gallery box -->
                         {% for x in teamdata%}
                        <div class="col-sm-3 p-2 rounded-4">
                            <div class="shadow-lg team rounded-4 text-center">
                                <img src="/{{x.picture}}" class="img-thumbnail p-2 "
                                    alt="" srcset="">
                                <b class="text-dark fw-bold fs-5">{{x.name}}</b><br>
                                <b class="text-dark fw-bold fs-5">{{x.designation}}</b><br>
                                <i class="fa-brands fa-instagram rounded-circle t"></i>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- gallery box end-->

                    </div>
                </div>
            </div>
            <!-- GALLERY End -->
        </div>
        <!-- Team End -->
{% endblock %}